.masthead{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.masthead__icons{
    grid-column-start: 1;
    grid-row-start: 1;
}
.masthead__actions {
    grid-column-start: 3;
    grid-row-start: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 7px;
}
.masthead__technologies {
    grid-column-start: 2;
    grid-row-start: 2;
   

}
.masthead__technology-list{
    border-right: 1px #e2e2e2 solid;
    border-left: 1px #e2e2e2 solid;
    border-top: 1px #e2e2e2 solid;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    justify-content: center;
}
.masthead__technology{
    margin: 0 4px;
}
.masthead__date {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    align-items: flex-end;
    font-size: 11px;
    padding-bottom: 11px;
    border-bottom: 1px #e2e2e2 solid;
    border-top: 1px #e2e2e2 solid;
}
.masthead__logo {
    grid-column-start: 2;
    grid-row-start: 2;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 11px;
    border-bottom: 1px #e2e2e2 solid;
    /* border-top: 1px #e2e2e2 solid; */
}
.masthead__paper {
    grid-column-start: 3;
    grid-row-start: 2;
    display: flex;
    align-items: flex-end;
    font-size: 11px;
    justify-content: flex-end;
    padding-bottom: 11px;
    border-bottom: 1px #e2e2e2 solid;
    border-top: 1px #e2e2e2 solid;
}
.masthead__icons {
    padding-left: 9px;
    padding-right: 9px;
    font-size: 11px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.masthead__icons:hover {
    background-color: #f7f7f5;
}

.masthead__technology {
  margin: 0 4px;
}

.masthead__technology-list {
  color: #6f6f6f;
  font-size: 10px;
  text-transform: uppercase;
}