header, footer, main {
    max-width: 1400px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

body {
    font-family: "arial", "helvetica", "sans-serif";
    line-height: 1em;
}

button {
    background-color: #6288a5;
    border-radius: 3px;
    font-size: 11px;
    color: #ffffff;
    font-family: "arial", "helvetica", "sans-serif";
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 9px;
    padding-left: 9px;
    margin-left: 4px;
    margin-right: 4px;
    text-transform: uppercase;
}

/* button:hover {
    transition-property: background-color, #326891;
    transition-duration: .3s;
} */
